
<%= form_with(model: ticket, local: true, id: "new_ticket_form", class: "ticket-form") do |form| %>
  <h2 class="poppins-bold heading"><%= headingLabel %> </h2>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t(:product)%>
    <%= form.select :product, options_for_select(@product_options), {}, {id: 'product',class: 'poppins-regular'} %>
  </div>

  <div class="field">
    <%= form.label t(:ticket_type), class:"mandatory"  %>
    <%= form.select :ticket_type, options_for_select(@ticket_type_options), id: 'ticket_type',class: 'poppins-regular' %>
  </div>

  <div class="field">
    <%= form.label t(:summary), class:"mandatory"  %>
    <%= form.text_field :summary,class: 'ticket-summary',required: true %> 
  </div>

  <div class="field">
    <%= form.label t(:reporter) %>
    <%= form.text_field :reporter_ui, readonly: true, value: session[:current_user_id],disabled: true %>
    <%= form.hidden_field :reporter, value: session[:current_user_id] %>


  </div>

  <div class="field">
    <%= form.label t(:status), class:"mandatory"  %>
    <%= form.select :status, options_for_select(@status_options), id: 'status',class: 'poppins-regular' %>
  </div>

  <div class="field">
    <%= form.label t(:parent_ticket) %>
    <%= render '/shared/autocomplete', ticket: @ticket, form: form, form_attr: :parent_ticket_id, containerID: 'parentTicketContainer' %>
  </div>

  <div class="field">
    <%= form.label t(:environment_found) %>
    <%= form.select :environment_found, options_for_select(@environment_found_options), id: 'environment_found',class: 'poppins-regular' %>
  </div>

  <div class="field">
    <%= form.label t(:description) %>
    <%= render 'rte', ticket: @ticket, form: form, form_attr: :description, containerID: 'descripitonEditor' %>
  </div>

  <div class="field">
    <%= form.label t(:priority), class:"mandatory"  %>
    <%= form.select :priority, options_for_select(@priority_options), id: 'priority',class: 'poppins-regular' %>
  </div>
    
  <div class="field">
    <%= form.label t(:severity), class:"mandatory"  %>
    <%= form.select :severity, options_for_select(@severity_options), id: 'severity',class: 'poppins-regular' %>
  </div>

  <div class="field">
    <%= form.label t(:start_date) %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label t(:due_date) %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label t(:assignee), class:"mandatory"  %>
    <%= form.select :assignee, options_for_select(@assignee_options,session[:current_user_id]), id: 'assignee',class: 'poppins-regular' %>
  </div>

  <div class="field">
    <%= form.label t(:labels) %>
    <%= form.text_field :labels %>
  </div>

  <div class="field">
    <%= form.label t(:fix_version) %>
    <%= form.text_field :fix_version %>
  </div>

  <div class="field hide">
    <%= form.label t(:attachments) %>
    <%= form.text_field :attachments %>
  </div>

  <% if false %>
  <div class="field hide">
    <%= form.label t(:comments) %>
    <%= render 'rte', ticket: @ticket, form: form, form_attr: :comments, containerID: 'commentsEditor' %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit t(:create_ticket), class: "create-ticket" %>
  </div>
<% end %>
