<div class="myTicket-container poppins-regular">
  <p id="notice"><%= notice %></p>

  <h2 class="poppins-bold heading"><%= t(:my_tickets) %> </h2>

  <table class="myTicket-table">
    <thead>
      <tr>
        <th><%=t(:product)%></th>
        <th><%=t(:ticket_type)%></th>
        <th><%=t(:summary)%></th>
        <th><%=t(:reporter)%></th>
        <th><%=t(:status)%></th>
        <th><%=t(:parent_ticket)%></th>
        <th><%=t(:environment_found)%></th>
        <th><%=t(:description)%></th>
        <th><%=t(:priority)%></th>
        <th><%=t(:severity)%></th>
        <th><%=t(:start_date)%></th>
        <th><%=t(:due_date)%></th>
        <th><%=t(:assignee)%></th>
        <th><%=t(:comments)%></th>
        <th colspan="3"><%=t(:actions)%></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.product %></td>
          <td><%= ticket.ticket_type %></td>
          <td><%= truncate_text(ticket.summary,30) %></td>
          <td><%= truncate_text(ticket.reporter) %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.parent_ticket_id %></td>
          <td><%= ticket.environment_found %></td>
          <td><%= truncate_text(ticket.description,30) %></td>
          <td><%= ticket.priority %></td>
          <td><%= ticket.severity %></td>
          <td><%= ticket.start_date %></td>
          <td><%= ticket.due_date %></td>
          <td><%= truncate_text(ticket.assignee) %></td>
          <td><%= truncate_text(ticket.comments,30) %></td>
          <td>
            <%= link_to ticket do %>
              <i class="fa fa-eye"></i>
             <% end %>
          </td>
          <td>
            <%= link_to edit_ticket_path(ticket) do %>
              <i class="fa fa-pencil"></i>
             <% end %>
          </td>
          <td>
            <%= link_to ticket, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i>
             <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>