<div class="login-bg">
    <div class="login-form">
    <span class="logo"></span>
    <% if @mailSent != true %>
        <h2 class="poppins-bold font40 signin-fw"><%= t(:signin_to_fw) %></h2>
        <label class="poppins-regular signin-desc font17"><%= t(:signin_des) %></label>
        <%= form_with url: authenticate_path, id: 'login_form', method: :get, local: true do |form|%>
            <div class="login-container">
                <div class="form-group">
                    <%= form.email_field :email, class: 'form-control', required: true, placeholder: t(:email_placeholder) %>
                </div>
                <%= @empty %> 
                <% if @empty %>
                        <label><%= t('invalid_email')%></label>
                <% end %>
                <div class="form-group">
                    <%= submit_tag t(:signin_with_email), id: 'form_submit', class: 'form-submit poppins-bold font17' %>
                </div>
            </div>
        <% end %>
    <% elsif @mailSent == true %>
        <h2 class="poppins-bold font40 signin-fw"><%= t(:check_email) %></h2>
        <label class="poppins-regular signin-desc font17">
            <%= t(:we_have_emailed) %>
            <label class="poppins-bold"><%= @email+". " %></label>
            <%= t(:click_to_sign) %>
        </label>
        <span class="mailImg"></span>
        <label class="poppins-regular signin-desc font17"><%= t(:check_spam) %></label>
        <div class="form-group">
            <button class="form-submit poppins-bold font17" id="resend_mail"><%= t(:resend_email) %></button>
        </div>
        <script>
            const startTimeOut = elememt => {
                elememt?.classList?.add("disabled");
                elememt.disabled = true

                let seconds = 29; //set seconds value -1

                let btn_label = elememt.innerText;
                elememt.innerText = `00:${seconds+1}`

                const countdown = setInterval(() => {
                    const minutes = Math.floor(seconds / 60);
                    const remainingSeconds = (seconds % 60).toString().padStart(2, '0');
                    const formattedTime = `00:${remainingSeconds}`;
                    
                    elememt.value = elememt.innerText = formattedTime;

                    if (seconds === 0) {
                        clearInterval(countdown);
                        elememt?.classList?.remove("disabled");
                        elememt.disabled = false;
                        elememt.value = elememt.innerText = btn_label;
                    }

                    seconds--;
                }, 1000);

            }
            document.addEventListener("DOMContentLoaded", function() {
                const resend = document.querySelector('#resend_mail');
                resend.addEventListener('click', e => {
                    startTimeOut(resend)
                    <%= "fetch(`/resend_mail?email="+@email+"\`)" %>
                    .catch(error => console.error('Error in Resend email:', error));
                })    
            });
        </script>
    <% end %>
    </div>
</div>
