<div class="index-container">
    <h2>{{t "dashboard_heading"}}</h2>
    <HighCharts
    @chartOptions={{this.chartOptions}}
    @content={{this.chartData}}
    />

    <div class="chart-container1">
        <div class="half-width">
            <HighCharts
            @content={{this.chartData1}}
            @chartOptions={{this.chartOptions1}}
            />
        </div>
        <div class="half-width">
            <HighCharts
            @content={{this.chartData2}}
            @chartOptions={{this.chartOptions2}}
            />
        </div>
    </div>
</div>