<div class="header">
    <i class="fa fa-navicon hamburger-menu mobile-view font17" id="hamburger-menu" onClick="toggleMenu()"></i>
    <%= link_to root_path do%>
        <span class="header-logo"></span>
    <%end%>
    <div id="header-options" class="header-options">
        <ul class="nav-bar poppins-regular">
            <li class="nav-links"><i class="fa fa-times right mobile-view" onClick="toggleMenu()"></i></li>
            <li class="nav-links"><i class="fa fa-pie-chart"></i><%= link_to t(:dashboard), dashboard_path %></li>
            <li class="nav-links"><i class="fa fa-ticket"></i><%= link_to t(:my_tickets), tickets_path %></li>
            <li class="nav-links create-option">
                <%= link_to new_ticket_path do%>
                    <button class="create-ticket" type="button" id="create"><%= t(:create_ticket) %></button>
                <%end%>
            </li>
        </ul>
        <ul class="nav-bar poppins-regular align-end">
            <li class="nav-links">
                <div class="search-item">
                    <i class="fa fa-search"></i>
                    <%= form_with(id:'search_ticket_form') do |form|%>
                        <%= render '/shared/autocomplete',  form: form, form_attr: :search_ticket, containerID: 'searchTicketContainer', apiUrl: '/search_tickets', handleSelection: 'viewTicket', style_class: 'search-autocomplete', queryLength: 1 do%><% end %>
                    <% end %>
                </div>
            </li>
            <li class="nav-links">
                <i class="fa fa-language"></i>
                <%= select_tag :lang, options_for_select([[t(:en), 'en'], [t(:fr), 'fr']],@selectedLang), id: 'language-select',class: 'poppins-regular language-select' %>
            </li>
            <li class="nav-links user-container pointer">
                <div class="user-panel">
                    <label title="<%= session[:current_user_id] %>">
                        <i class="fa fa-user"></i>
                        <%= "#{t(:welcome)} #{truncate_email(session[:current_user_id])}" %>
                    </label>
                    <div class="user-dropdown">
                        <div class="user-logout">
                            <%= link_to logout_path, method: :delete do %>
                                <i class="fa fa-sign-out"></i><%= label_tag t(:logout) %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    var languageSelect = document.getElementById('language-select');
    languageSelect.addEventListener('change', function() { apiCall('/set_language','POST',null,{ locale: this.value },reload)});
    function toggleMenu() {
        const headerOptions = document.getElementById('header-options');
        headerOptions.classList.toggle('show-header')
    }
</script>