<div class="header">
    <%= link_to root_path do%>
        <span class="header-logo"></span>
    <%end%>

    <ul class="nav-bar poppins-regular">
        <li class="nav-links"><%= link_to t(:dashboard), dashboard_path %></li>
        <li class="nav-links"><%= link_to t(:my_tickets), tickets_path %></li>
        <li class="nav-links">
            <%= link_to new_ticket_path do%>
                <button class="create-ticket" id="create"><%= t(:create_ticket) %></button>
            <%end%>
        </li>
    </ul>
    <ul class="nav-bar poppins-regular align-end">
        <li class="nav-links">
            <%= text_field_tag :search, nil, class: 'search-ticket', placeholder: t(:search) %>
        </li>
        <li class="nav-links">
            <%= select_tag :lang, options_for_select([[t(:en), 'en'], [t(:fr), 'fr']],@selectedLang), id: 'language-select',class: 'poppins-regular' %>
        </li>
        <li class="nav-links user-container">
            <%= image_tag 'user.png', alt: 'Example Image',class: 'user-account' %>
            <%= label_tag nil, "#{t(:welcome)} #{truncate_text(session[:current_user_id])}", title: session[:current_user_id], class: "pointer" %> 
        </li>
    </ul>
</div>