<!DOCTYPE html>
<html>
  <head>
    <title>Mark1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="root-container">
      <% if session[:current_user_id] != nil %>
        <%= render :partial => "layouts/header" %>
      <% end %>
      <%= yield %>
      <% if session[:current_user_id] != nil %>
        <%= render :partial => "layouts/footer" %>
      <% end %>
    </div>
  </body>
</html>
